<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>whats'new</title>
  <link rel="stylesheet" href="/style/home.css">
</head>

<body>
  <div class="outer_main">
    <div class="first_page_outer">
      <!-- <p>whats'new</p> -->
      <!-- <div></div> -->
      <div class="whats_logo_outer">


        <div class="whats_logo">
          <img src="/image/img.jpg" alt="">

        </div>
        <div class="container">
          <h6 class="animated-text">
            <span style="--i:0">W</span>
            <span style="--i:1">h</span>
            <span style="--i:2">a</span>
            <span style="--i:3">t</span>
            <span style="--i:4">s</span>
            <span style="--i:5">'</span>
            <span style="--i:6">n</span>
            <span style="--i:7">e</span>
            <span style="--i:8">w</span>

          </h6>
        </div>
      </div>
      <div class="whats_logo_outer">
        <a href="/auth/singup">
          <button class="animated-button">
            <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
              </path>
            </svg>
            <span class="text">creat account</span>
            <span class="circle"></span>
            <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
              </path>
            </svg>
          </button>
        </a>

        <a href="/auth/login">

          <p class="already">already have an account</p>
        </a>
        
      </div>

    </div>


  </div>
</body>

</html>