<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>conform</title>
  <link rel="stylesheet" href="/style/login_singup.css">
      <link rel="shortcut icon" href="/image/image.png">

</head>

<body>
  <div class="outer_main">
    <div class="first_page_outer">
      <div class="whats_logo">
        <img src="/image/image.png" alt="">
      </div>
      <p class="welcome"> Welcome to         <img height="18px" style="padding: 0px 2px 2px;" src="/image/images.png" alt="">
 Chat app</p>
      <form action="/auth/login" method="POST">
      <div class="inp_outer">

        <p class="login"> <small>login hear</small></p>


        <input type="text" class="number" name="username" placeholder="enter username">
        <input type="text" class="number" name="password" placeholder="enter password">

      </div>
      <!-- <a href="/chats"> -->
        <button class="send" type="submit">login</button>
      <!-- </a> -->
      </form>
      <a style="padding-top: 5px;" href="/auth/singup"> create new account</a>
    </div>

  </div>
</body>

</html>