<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/style/login_singup.css">
        <link rel="shortcut icon" href="/image/image.png">

</head>

<body>
    <div class="outer_main">
        <div class="first_page_outer">
            <div class="whats_logo">
                <img src="/image/image.png" alt="">
            </div>
  <p class="welcome"> Welcome to         <img height="18px" style="padding: 0px 2px 2px;" src="/image/images.png" alt="">
 Chat app</p>            <div class="inp_outer">
                <form action="/auth/singup" method="POST">
                    <input type="text" class="number name" name="name" placeholder=" name">
                    <input type="file" class="number profilephoto" name="profilephoto" placeholder=" profile photo">
                    <input type="number" class="number contact" name="contact" placeholder=" contact no.">
                    <input type="text" class="number password" name="password" placeholder="  password">
                    <input type="text" class="number confirmPassword" name="confirmPassword"
                        placeholder=" confirm password">
                    <!-- <a href=""> -->
                        <button type="submit" class="send">creat account</button>
                    <!-- </a> -->
                </form>
            </div>



            <a style="padding-top: 5px;" href="/auth/login"> login with acconut</a>

        </div>

    </div>


    <script src="/js/login_singup.js"></script>
</body>

</html>